@font-face {
  font-family: "iconfont"; /* Project id 3948958 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3948958_kngg6q11fnq.woff2?t=1679216473471') format('woff2'),
       url('//at.alicdn.com/t/c/font_3948958_kngg6q11fnq.woff?t=1679216473471') format('woff'),
       url('//at.alicdn.com/t/c/font_3948958_kngg6q11fnq.ttf?t=1679216473471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e60e";
}

.icon-yejing:before {
  content: "\e60d";
}

.icon-rila:before {
  content: "\e609";
}

.icon-richu:before {
  content: "\e60a";
}

.icon-yuela:before {
  content: "\e60b";
}

.icon-yuechu:before {
  content: "\e60c";
}

.icon-xiangzuojiantou:before {
  content: "\e608";
}

.icon-github-fill:before {
  content: "\e605";
}

.icon-weixin:before {
  content: "\e606";
}

.icon-QQ:before {
  content: "\e607";
}
